.footer__container {
    /* border:  1px solid green; */
    bottom: 0;
    position:fixed;
    /* background-color: green; */
}
.footer__list {
    border:  1px solid green;
    width: 20%;
}
.footer__redes{
    border:  1px solid green;
}
.footer__contactanos {
    border:  1px solid green;
}