.footer__container {
    /* border:  1px solid green; */
    width: 100%;
    background-color: rgb(62, 63, 70);
    /* position:fixed; */
    /* background-color: green; */
}
.footer__list {
    border:  1px solid green;
    width: 20%;
}
.footer__redes{
    display: flex;
    flex-direction: row;
    border:  1px solid green;
}
.footer__redes span {
    color: whitesmoke;
}
.footer__container__icons a {
    margin: 0 10px 0 20px;
}
.footer__container__icons a i {
    color:  whitesmoke;
}
.footer__contactanos {
    border:  1px solid green;
}