.bienvenidos__container {
    background-color: whitesmoke;
    width: 100%;
    font-size: 1.15rem;
}
.bienvenidos__titulo__subrayado{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}
.bienvenidos__subrayado {

    margin-bottom: 1rem; 
    background-color: #990033;
    width: 5%;
    height: 5px;
    border-radius: 5px;
    /* border: 1px solid green; */
}
.bienvenidos__texto {
    width: 80%;
    margin-left: 10%;
}