.bienvenidos__container {
    margin-top: 1.4rem;
    background-color: whitesmoke;
    width: 100%;
    font-size: 1rem;
}
.bienvenidos__jumbotron {
    background-color: whitesmoke;
}
.bienvenidos__titulo__subrayado{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}
.bienvenidos__subrayado {

    margin-bottom: 1rem; 
    background-color: #990033;
    width: 5%;
    height: 5px;
    border-radius: 5px;
    /* border: 1px solid green; */
}
.bienvenidos__texto {
    width: 70%;
    margin-top: 1rem;
    margin-left: 15%;
}
.bienvenidos__texto__movil {
    display: none;
}
@media only screen and (max-width: 600px) {
    
    .bienvenidos__container{
        font-size:  0.8rem;
    }
    .bienvenidos__container h1 {
        width: 80%;
        margin-left: 10%;
        font-size: 1.5rem;
    }
    .bienvenidos__texto {
        display: none;
    }
    .bienvenidos__texto__movil {
        display: inherit;
        width: 80%;
        margin-left: 10%;
    }

}