.bienvenidos__container {
    width: 100%;
    font-size: 1.2rem;
}
.bienvenidos__titulo__subrayado{
    width: 50px;
    height: 10px;
    border: 1px solid green;
    position: absolute;
    align-items: center;
    /* background-color: red; */
}