.bienvenidos__container {
    background-color: whitesmoke;
    width: 100%;
    font-size: 1.2rem;
}
.bienvenidos__titulo__subrayado{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    align-items: center;
    /* background-color: red; */
}
.bienvenidos__subrayado {

    background-color: #990033;
    width: 5%;
    height: 5px;
    border-radius: 5px;
    /* border: 1px solid green; */
}