.banner__container {
    width: 100%;

    height: 100%;
    

    /* height: 150%; */
    /* display: flex; */
    /* z-index: -3; */
    /* opacity: 100; */
    /* margin-top: -10px; */
    /* border: 1px solid green; */

}
.banner__item__title {
    /* margin-top: 10rem; */
    /* border: 1px solid green; */
    font-size: 4rem;
    color: #990033;
}
.banner__caption {
    position:absolute;
    /* margin-top: 1rem; */
    /* border: 1px solid green; */
}
.banner__caption p {

    color: rgb(62, 63, 70);
    /* background-color: rgb(62, 63, 70); */
    margin-top: 3rem;
    font-size: 2rem;
    color: black;
    /* border: 1px solid green; */
}
.banner__caption button{
    width: 20%;
    font-size: 1.77rem;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    border-radius: 5%;
    /* border: 1px solid green; */
}
@media only screen and (max-width: 600px) {
    .banner__container {
        display: none;

        height: 100%;

        /* border: 1px solid green; */
        /* height: 200px; */
        
    }
    .carousel__item {
        position: absolute;
        height: 150%;
        border: none;
    }
    .banner__item {
        /* margin-bottom: ; */
        margin-top: 0;
    }
    .banner__caption {
        /* border: 1px solid green; */
        margin-bottom: -10px;
    }

    .banner__caption p {
        margin-top: 0;
        display: none;
    }
    
    .banner__item__title {
        font-size: 1.3rem;
    }
    .banner__caption button {
        margin-top: 0;
        font-size: .7rem;
        width: auto;
        margin-bottom: 0;
    }
}