.carousel__item {

    height: 150%;
    /* border: 1px solid green; */
    /* height: 40%; */
}
.banner__container {
    width: 100%;
    /* height: 50%; */
    

    height: 150%;
    /* display: flex; */
    /* z-index: -3; */
    /* opacity: 100; */
    /* margin-top: -10px; */
    /* border: 1px solid green; */

}
.banner__item__title {
    margin-top: 10rem;
    /* border: 1px solid green; */
    font-size: 4.5rem;
    color: #990033;
}
.banner__caption {
    position:absolute;
    margin-top: 4rem;
    /* border: 1px solid green; */
}
.banner__caption p {

    color: rgb(62, 63, 70);
        /* background-color: rgb(62, 63, 70); */
    margin-top: 10rem;
    font-size: 2.5rem;
    color: black;
    /* border: 1px solid green; */
}
.banner__caption button{
    width: 20%;
    font-size: 1.4rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    border-radius: 5%;
    /* border: 1px solid green; */
}