.carousel__item {

    /* border: 1px solid green; */
    width:00%;
    /* height: 40%; */
}
.banner__container {
    /* display: flex; */
    /* z-index: -3; */
    /* opacity: 100; */
    /* margin-top: -10px; */
    /* border: 1px solid green; */

}