.menuheader__container{
    
    border: 1px solid green;

}
.menuheader__list {
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    
}
.menu_header_item  {
    list-style: none;
    margin-right: 5rem;
}
.menu_header_item a {
    font-size: 1.2rem;
    color: whitesmoke;
}