.menuheader__list {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu_header_item  {
    list-style: none;
    margin-right: 1rem;
}
.menu_header_item a {
    color: whitesmoke;
}