.menu__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: 1px solid green;
    width: 100%;
}

.menu__container ul {
    /* border: 1px solid green; */
    padding: 0;
    margin-top: 5.03px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.menu__container ul li {
    /* border: 1px solid green; */
    margin-right: 1.4vw;
}
.menu__container ul li a{
    /* border: 1px solid green; */
    color: black;
}
.menu__container ul li a:hover{
    cursor: pointer;
    /* color: palevioletred; */
}

.menu__item {
    margin-top: 0.1vw;
    font-size:  .5rem;
}

.menu__item a:hover {
    text-decoration: none;
    cursor: pointer;
    color: grey;
}

/* icon */
.menu__icon {
    /* border: 1px solid green; */
    margin-bottom: 0.34rem;
    margin-right: .9rem;
}
.menu__icon:hover{
    color: green;
}
.menu__item  a img:hover{
    cursor: pointer;
    color: green;
    fill: green ;
}
