.menuheader__container{
    display: flex;
    
    /* border: 1px solid green; */

}
.menuheader__container a:hover{
    cursor: pointer;
    color: blue;
}
.menuheader__list {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    margin-top: 26px;
    margin-bottom: 26px;
    
}
.menu_header_item  {
    list-style: none;
    margin-right: 5rem;
}
.menu_header_item a {
    font-size: 1.2rem;
    color: whitesmoke;
}
.menu_header_item a:hover {
    text-decoration: none;
    cursor: pointer;
    color:yellow;
    transition: 1s;
}
.menuheader__icon {
    flex-shrink: 3;
}
.menuheader__icon  i {

    
    margin-top: 24px;
    flex-direction: end;
    margin-right: 1rem;
    /* border: 1px solid green; */
}
.menuheader__icon i:hover {
    transition: rotate(45);
}