.menu__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* border: 1px solid blue ; */
    width: 100%;
}

.menu__item {
    margin-right: 20px;
    margin-top: 5px;
    /* border: 1px solid green; */
    font-size: 1.2rem;
}