.menu__container {
    display: flex;
    flex-direction: row;
    border: 1px solid blue ;
    width: 100%;
}

.menu__item {
    margin-left: 20px;
    border: 1px solid green;
    font-size: 1.2rem;
}