.footer__container {
    /* border:  1px solid green; */
    width: 100%;
    /* height: 60px; */
    color: whitesmoke;
    background-color: rgb(62, 63, 70);
    align-items: center;
    text-align: center;
    margin-bottom: -10px;
    /* position:fixed; */
    /* background-color: green; */
}
.footer__redes{
    display: flex;
    flex-direction: row;
    text-align: center;
    /* border:  1px solid green; */
}
.footer__redes span {
    margin-right: 10px;
}
.footer__container__icons a {
    margin: 0 8px 0 8px;
}
.footer__container__icons a i {
    color:  whitesmoke;
}
.footer__contactanos {
    /* border:  1px solid green; */
}
.footer__contactanos span {
    margin-right: 10px;
}

/* responsive */
@media only screen and (max-width: 600px){

    
    .footer__container__icons{
        width: 100%;
        /* margin-left: 5%; */
    }
    .footer__redes span {
        margin-right: 0px;
    }
    .footer__contactanos {
        width: 100%;
        /* margin-left: 5%; */
    }
    
    

}