.servicio__item{
    /* display: flex; */
    border: 1px solid green;
}
.menuServicios__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {

    .menuServicios__container h1 {

        font-size: 1.5rem;
    }

}