.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 0;
    width: 100%;
    height: 90px;
    border: 0.3px solid silver;
    /* background-color: transparent; */
    /* background-color: rgb(42, 168, 214); */
    background-color: rgb(62, 63, 70);
    z-index: ;
    /* Animation */
    transition-timing-function: ease-in ;
    transition: all 0.5s;
}

.nav__contents {
    /* border: 1px solid green; */
    /* background-color: indianred; */
    color: whitesmoke;
 } 
.nav__contents img {
    margin-top: 12px;
    top: 30px;
    left: 20px;
}

.nav__logo {
    /* border: 1px solid green; */
    /* position: fixed; */
    /* margin-top: 12px; */
    align-items: center;
    width: 400px; 
    height: 95px;
}
.nav__logo:hover {
    cursor: pointer;
    color: transparent;
}