.pre__navbar {
    display: flex;
    flex-direction: row;
    margin-right: 1vw;
    /* border: 1px solid green; */
}
.btn__preheader{
    border: 0; 
    background-color: whitesmoke;
    padding: 0 1.2vw 0 1.2vw;
    font-size: 1.2rem;
}