.pre__navbar {
    display: flex;
    flex-direction: row;
    /* border: 1px solid green; */
    margin: 0.3vw 1vw ;
}
.preheader__button{

    background-color: green;
    margin-top: 2rem;
    padding: 100px ;
}