.pre__navbar {
    display: flex;
    flex-direction: row;
    /* border: 1px solid green; */
    margin: 0.3vw 1vw ;

    }
#preheader__button{
    /* margin-top: 1rem; */
    padding-top: 0 ;
}
#preheader__btn {
    border: transparent;
    border-radius: 15%;
    background-color: #dc2e58;

}