.pre__navbar {
    display: flex;
    flex-direction: row;
    /* border: 1px solid green; */
    margin: 0.3vw 1vw ;

    }
#preheader__button{
    /* margin-top: 1rem; */
    padding-top: 0 ;
}
#preheader__btn {
    border: transparent;
    color: whitesmoke;
    width: 8%;
    padding: 0 0.1rem  0 0.1rem;
    border-radius: 5%;
    background-color: #D93148;

}