.whatsApp__container {
    /* border: 1px solid green; */
}
.whatsApp__container a:hover {
    cursor: pointer;

}
.whatsApp__container img{
    position: absolute;
    bottom: 3rem;
    right:  2rem;
    width: 4.2vw;
    /* border: 1px solid green; */

}

@media only screen and (max-width: 600px) {
    .whatsApp__container img {
        width: 14vw;
        bottom: 1rem;
    }
}